<div class='title-contents'>
    <h2 class='service-title'>
      Meshitero！
    </h2>
    <p class='service-explain'>
     外食時に出会った「美味しそう！」なものをひたすら紹介するアプリです
    </p>
    <p class='service-explain'>
      深夜に見てはいけません・・・！
    </p>
</div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      Meshitero！の使い方
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "header02.JPG", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>コンセプト</span>
        </h3>
        <p class='reason-list-description'>
          たった1枚の画像で、レストランをPRするシンプルなグルメサイトです。<br>
          自分のお店の自慢の料理を、また自分の大好きなグルメの魅力を、1枚の画像でアピールしてみませんか？
        </p>
      </li>
      <li class='list'>
        <%= image_tag "header03.JPG", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>レストランで働く人へ</span>
        </h3>
        <p class='reason-list-description'>
          自分のお店の自慢の料理をアップしよう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "header03.JPG", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>グルメ好きなあなたへ</span>
        </h3>
        <p class='reason-list-description'>
          大好きなレストランのグルメ画像をアップしよう！
        </p>
      </li>
    </ul>
  </div>