<% @tweets.each do |tweet|%>
    <div class="card">
      <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id), class:"card-user" %>
      <div class="card-image">
        <%= link_to image_tag(tweet.image), tweet_path(tweet.id) if tweet.image.attached? %>
      </div>
      <p class="card-summary"> 
      <%= tweet.message %>
      </p>
        <ul class="tag">
          <li class="tag-list">
            <%= render_with_tags(tweet.hashname) %>
          </li>
        </ul>
    </div>
<%end%>