
<div class="main">
  <div class="message-wrap">
    <% @tweets.each do |tweet|%>
      <div class="message"> 
      <%= image_tag tweet.image.variant(resize: '800x600'), class: "message-image" if tweet.image.attached? %>
        <p class="text">
          <%= tweet.message %>
        </p>

        <ul class="tag">
          <li class="tag-list">
            <%tweet.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
      </div>
    <%end%>
  </div>
</div>