<%= render "shared/header"%>
<div class="main">
  <div class="top">
    <div class="form-wrapper">
      <h2 class="page-heading">投稿編集ページ</h2>
      <%= render partial: "form", locals: { tweet: @tweet } %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>