<%= render "shared/header"%>

<div class="main">
<%= render "shared/second-header"%>

  <div class="top">
    <h1>投稿一覧</h1>
        <div class="card-wrapper">
         <%= render partial: 'tweet', locals: {tweet: @tweet} %>
        </div>
  </div>
</div>
<%= render "shared/footer" %>
