/* ヘッダー */
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 10px 4% 5px;
  /* background-color:rgb(235, 201, 91); */
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.nav-left {
  display: flex;
  min-width: 200px;
}

.header-logo {
  width: 20vw;
  height: 10vh;
}

.nav-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.post-btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: tomato;
  text-decoration: none;
  user-select: none;
  border: 1px tomato solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.post-btn:hover {
  background: tomato;
  color: #fff;
}

/*デバイス導入後確認*/

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
