<header class="header">

  <div class ="nav">
      <ul class="nav-left">
           <li><%= link_to image_tag("flogo.png", class: "header-logo"), "/" %></li>
      </ul>

      <ul class="nav-right">
          <li><%= link_to "投稿する", new_tweet_path, class: "post-btn" %></li>
          <li><%#= link_to current_user.nickname, "#", class: "user-nickname"  %></li>
          <li><%#= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>

          <li><%#= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%#= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </ul>

  </div>
</header>