/* ヘッダー２ */

.title-img {
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}





.service-title {
  font-size: 9vh;
}

.service-explain {
  font-size: 3vh;
  line-height: 40px;
}

/*使い方*/
.select-reason-contents {
  padding: 5vh 10vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 200px;
  height: 4px;
  background-color: tomato;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-pict {
  width: 80px;
  height: 80px;
}

.how-to-use {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  color: tomato;
  background-color: white;
  border: 2px solid gray;
  margin: 0 auto;
}

.use-lists {
  flex-direction: row;
  list-style: none;
}

.use-list {
  display: flex;
  align-items: center;
}

.link {
  border-bottom: 1px solid gray;
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vw;
  flex-wrap: wrap;
}


.reason-lists>.list {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}


.reason-list-text {
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  margin-top: -5px;
  color: tomato;
  font-weight: bold;
}

.reason-list-description {
  font-size: 18px;
  text-align: center;
}

.reason-lists>.list {
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
